<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624142968056-d1cdf8e21abmopkut60hv71mi0lu78mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624142968056-d1cdf8e21abmopkut60hv71mi0lu78mp</string>
	<key>API_KEY</key>
	<string>AIzaSyAQqYMMk0XYywrZRO-JJaU9n19QokBfcvY</string>
	<key>GCM_SENDER_ID</key>
	<string>624142968056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.revolutionrobotics.robotcontroller</string>
	<key>PROJECT_ID</key>
	<string>revolutionroboticsprod</string>
	<key>STORAGE_BUCKET</key>
	<string>revolutionroboticsprod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:624142968056:ios:14cc132ebd2afb85</string>
	<key>DATABASE_URL</key>
	<string>https://revolutionroboticsprod.firebaseio.com</string>
</dict>
</plist>
